<main>
  <h1> Vista de Productos</h1>
  <div>
    {{#each products}}
      <div>        
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>${{this.price}}</p>
        </div>
    {{/each}}
  </div>

</main>